@import "src/webapp/global.scss";

.board-users {
    display: flex;
    align-items: center;

    .board-user {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: $color-bright;
        border: 0;
        outline: 0;
        border-radius: 999px;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        cursor: pointer;
        box-shadow: 0 2px 5px $color-shadow;
        font-size: 0.8rem;
        font-weight: 600;

        &.highlight {
            box-shadow: 0 0 0 2px $color-primary;
            cursor: default;
        }
        &.afk {
            opacity: 0.5;
        }

        @include show-tooltip-on-hover();
    }

    .board-share {
        position: relative;
        border: 0;
        outline: 0;
        border-radius: 999px;
        width: 40px;
        height: 40px;
        background-color: $color-primary;
        color: $color-text-on-dark;
        cursor: pointer;

        @include show-tooltip-on-hover();
    }
}