@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap');
@import "./global.scss";

// @import "";

:root {
    --color-secondary: #686868;
    --color-secondary-dark: #444444;
}

* {
    font-family: 'Mukta', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: $color-dark;
    font-size: 1rem;
    user-select: none;
    -moz-user-select: none;
}

small {
    @include small-uppercase-text();
}