@import "../../global.scss";

.toolbar {
    display: inline-flex;
    background-color: $color-bright;
    border-radius: $border-radius;
    pointer-events: all;

    &.horizontal {
        flex-direction: row;

        & > *:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        & > *:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }

    &.vertical {
        flex-direction: column;

        & > *:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        & > *:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}