@import "../../global.scss";

.toolbarButton {
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: $color-dark;
    cursor: pointer;

    // transition: background-color 0.2s;

    &:hover {
        background-color: $color-opaque;
    }

    &.active {
        background-color: $color-primary;
        color: $color-text-on-dark;
    }

    &.active > svg,
    &:active > svg {
        animation: active-pulse 0.2s ease-in-out 0s forwards;
    }
}

@keyframes active-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}